<h2>List</h2>

<div class="row">
  <form action="<%= admin_search_skills_path %>" method="get">
  <div class="col-lg-6">
    <div class="input-group">
      <input type="text" class="form-control" name="q" placeholder="Search for..." value="<%= params[:q] %>">
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Go!</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
  </form>
  <div class="col-lg-6" align="right">
    <div class="input-group">
      <%= link_to 'New', new_admin_skill_path, :class => 'btn btn-primary' %>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->

<div class="bs-docs-example">
  <table class="table">
    <thead>
      <tr>
        <th width="10%"></th>
        <th width="">Name</th>
        <th width="">Description</th>
        <th width="">Category</th>
        <th width="20%">Created At</th>
        <th width="20%">Updated At</th>
        <th width="20%"></th>
      </tr>
    </thead>
    <tbody>
      <% @skills.each do |skill| %>
        <tr>
          <td><%= skill.id %></td>
          <td><%= skill.name %></td>
          <td><%= truncate(skill.description, length: 20, omission: '...') %></td>
          <td><%= category(skill.category_id) %></td>
          <td><%= skill.created_at.strftime('%Y/%m/%d %H:%M:%S') %></td>
          <td><%= skill.updated_at.strftime('%Y/%m/%d %H:%M:%S') %></td>
          <td style="text-align:center;">
            <%= link_to admin_skill_path(skill), :class => "btn btn-info" do %>
              Show
            <% end %>
            <%= link_to edit_admin_skill_path(skill), :class => "btn btn-success" do %>
              Edit
            <% end %>
            <%= link_to admin_skill_path(skill), method: :delete, data: { confirm: 'Are you sure you want to delete?' }, :class => "btn btn-danger" do %>
              Delete
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= will_paginate @skills, renderer: BootstrapPagination::Rails, bootstrap: 3 %>
