<div class="col-xs-12 col-sm-9">
  <% if !@hero.nil? %>
    <div class="jumbotron">
      <h1><%= @hero.try(:title) %></h1>
      <p><%= @hero.try(:description) %></p>
      <p><a class="btn btn-primary btn-lg" href="<%= categories_path %>">Learn more »</a></p>
    </div>
  <% end %>
  <div class="row">
    <% @categories.each_with_index do |category, index| %>
      <% if index < 12 %>
        <div class="col-6 col-sm-6 col-lg-4">
          <h2><%= category.name %></h2>
          <p><%= category.description %></p>
          <p><a class="btn btn-default" href="<%= categories_show_path(category) %>">View details &raquo;</a></p>
        </div><!--/span-->
      <% end %>
    <% end %>
  </div><!--/row-->
</div><!--/span-->
<%= render 'layouts/sidebar' %>
