<% color = %w[primary success info warning danger] %>
<div class="col-xs-12 col-sm-9">
  <div class="panel panel-<%= color.sample %>">
    <div class="panel-heading">
      <h3 class="panel-title"><%= @category.name %><a href="<%= categories_path %>"><span class="glyphicon glyphicon-arrow-left pull-right"></span></a></h3>
    </div>
    <div class="panel-body">
      <%= simple_format(@category.description) %>
    </div>
  </div>
  <% @skills.each do |skill| %>
    <div class="bs-callout bs-callout-<%= color.sample %>">
      <h4><%= skill.name %><span class="badge pull-right"><%= skill.level %></span></h4>
      <p><%= skill.description %></p>
    </div>
  <% end %>
</div><!--/span-->
<%= render 'layouts/sidebar' %>
