<!DOCTYPE html>
<html>
  <head>
    <title>Qiang Skills</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/stylesheet' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <div class="row row-offcanvas row-offcanvas-right">
        <%= render 'layouts/messages' %>
        <%= yield %>
      </div><!--/row-->
      <hr>
      <%= render 'layouts/footer' %>
    </div><!--/.container-->
    <%= render 'layouts/javascript' %>
  </body>
</html>
